/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 92px 50px 92px 50px;
  margin: 0 auto;
  max-width: 1100px;
}

.header__menu {
  flex: 1;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__links-list-item {
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  flex-shrink: 0;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__address {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  max-width: 240px;
}

.header__address-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__address-text {
  text-decoration: none;
}

/* Cover */
.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px 50px;
  margin: 0 auto;
  max-width: 1100px;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFF;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.15;
}

.aligned-text_right {
  text-align: right;
  line-height: 1.15;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFF;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  cursor: pointer;
  transition: opacity 0.3s;
}

.bet-button:hover {
  opacity: 0.8;
}

/* Lots */
.lots {
  padding: 180px 50px;
  margin: 0 auto;
  max-width: 1100px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1 1 430px;
  min-height: 450px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
  color: #FFF;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  color: #FFF;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 40px;
  color: #000;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 180px 50px;
  margin: 0 auto;
  max-width: 1100px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 100px;
  padding-top: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 180px 50px 90px 50px;
  margin: 0 auto;
  max-width: 1100px;
}

.footer__address {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  max-width: 240px;
}

.footer__address-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__address-text {
  text-decoration: none;
}

.footer__menu {
  flex: 1;
}

.footer__menu-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style: none;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

